
    <%- include('./includes/navigation.ejs') %>
    <div id="content-wrapper" class="d-flex flex-column">
        <%- include('./includes/head.ejs') %>
        <div class="container-fluid">
            <div class="container">
                
                <h1>ERROR 404</h1>
            </div>
      </div>
    </div>
</div>
<%- include('./includes/end.ejs') %>
